body {
    background: #f1f1f1;
    font-family: 'source-sans-pro',sans-serif;
    font-size: 13px;
}

.container {
    width: 960px;
    /*background:white;*/
    margin: 0 auto;
    min-height: 600px;
    
}

#logo {
    width:280px;
    margin:0 auto;
    text-align:center;
    margin-top:80px;
}
h1 {
    font-size:36px;
    font-family: 'Exo', sans-serif;
    font-weight:bold;
    
}

#logo .news {
    font-family: 'Exo', sans-serif;
    color:#00b9ff;
    line-height:70px;
}
#logo .portal {
    font-family: 'Exo', sans-serif;
    color:#ff6a00;
}
.logoIcon {
    position:relative;
    top:10px;
}

#login {
    margin: 0 auto;
    width: 300px;
    position: relative;
    top: 30px;
    font-size: 14px;
    background: white;
    padding: 20px;
    box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.4);
    border-radius: 10px;
    border: solid 1px #00b9ff;
}

.fa {
    padding-right:8px;
}

.loginSets {
    margin: 0 auto 0 20px;
    display: block;
    width: 245px;
    font-family: 'source-sans-pro',sans-serif;
}

#login input {
    margin-bottom: 10px;
    margin-top: 6px;
}
#login span#lblUser,#login span#lblPassword {
    margin-left:25px;
}
#login input#txtUser {
    margin-left:3px;
}

#login span {
    color: #00b9ff;
    font-family: 'source-sans-pro',sans-serif;
    font-weight: 600;
}
#btnLogin {
    display:block;
   position:relative;
   left:125px;
    
}
#lbtnRegister {
    color: #00b9ff;
    text-decoration:none;
}
p.LoginP{
    width:280px;

}


/*Home Page Styles*/
#logo_home {
    width:280px;
    margin:0 auto;
    text-align:center;
    margin-top:30px;
}

#logo_home .news {
    font-family: 'Exo', sans-serif;
    color:#00b9ff;
    line-height:70px;
}
#logo_home .portal {
    font-family: 'Exo', sans-serif;
    color:#ff6a00;
}

nav {
    height:50px;
    width:100%;
    background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff));
background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
text-align:center;
border-top-left-radius:10px;
border-top-right-radius:10px;

}

nav ul {
    list-style-type:none;

}
nav ul li {
    display:inline;
    padding-left:20px;
    padding-right:20px;
    text-align:center;
}
nav ul li a {
    color:#06a9e6;
    font-family: 'Exo', sans-serif;
    font-size:13px;
    font-weight:bold;
    text-decoration:none;
    text-transform:uppercase;
    line-height:50px;
    letter-spacing:2px;
    
}
.selected {
    color:#ff6a00;
}

.slideshow h1 {
position:absolute;
top:180px;
margin-left:30px;
background:rgba(255,255,255,0.4);
padding:10px;
width:400px;

}
.main_content {
    float:left;
    width:675px;
    min-height:500px;
    background:rgba(255,255,255,0.7);
    padding:10px;
    margin-right:5px;

}
.sidebar_left {
    float:right;
    width:240px;
    background:rgba(255,255,255,0.7);
    min-height:500px;
    padding:10px;
    border-left:2px solid groove grey;
}
.contents {
    margin-bottom:10px;
}

footer {
    clear:both;
    height:200px;
    background:#974002;
    margin-top:20px;
}

/*Register Page Styles*/
.register {
    margin: 0 auto;
    width: 300px;
    position: relative;
    top: 30px;
    font-size: 14px;
    background: white;
    padding: 20px;
    box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.4);
    border-radius: 10px;
    border: solid 1px #00b9ff;
}
.PageTitles {
    display:block;
    margin:0 auto;
    width:280px;
    font-family: 'source-sans-pro',sans-serif;
    font-weight:300;
    color:#ff6a00;
    text-align:center;
    
}
.PageTitles h2 {
    text-transform:uppercase;
}
#txtFirstName, #txtLastName, #txtEmail, #txtAddPassword {
    margin:8px 0;
}
#lbtnLogin {
    text-decoration:none;
    color: #00b9ff;
}
